.profilePicture {
    max-width: 150px;
    border-radius: 50%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.secondaryColor {
    background-color: #191919 !important;
}

.space {
    margin-right: 25px;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Product Sans'), local('Product Sans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {
    font-family: "Product Sans";
}

.whiteTitle {
    padding-bottom: 20px;
    color: #FAFBFC;
}

.whiteText {
    color: #FAFBFC !important;
}

.blackTitle {
    padding-bottom: 20px;
    color: #000a12;
}

.blackText {
    color: #000a12;
}

.footerText {
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.iconBackground {
    border-radius: 100% !important;
    height: 50px !important;
    width: 50px !important;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.iconBackground1 {
    border-radius: 100% !important;
    height: 40px !important;
    width: 40px !important;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.icon {
    color: white !important;
    font-size: 20px !important;
    padding-top: 1px !important;
}

.iconTitle {
    width: 65px;
    height: 75px;
    padding-bottom: 15px;
}

.navbar {
    transition: all 0.4s;
}

.nav-link {
    color: #fff;
}

.navbar .nav-link:hover, .navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}

.navbar.active {
    background-color: #191919;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: white;
}

.navbar.active .nav-link:hover, .navbar.active .nav-link:focus {
    color: white;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: white;
}

@media (max-width: 991.98px) {
    .navbar {
        background: #191919;
    }
    .navbar .navbar-brand, .navbar .nav-link {
        color: white;
    }
}