.profilePicture {
    max-width: 15%;
    border-radius: 50%;
    padding-bottom: 20px;
}

.secondaryColor {
    background-color: #202020 !important;
}

.space {
    margin-right: 25px;
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Product Sans';
}

.whiteTitle {
    padding-bottom: 20px;
    color: #FAFBFC;
}

.whiteText {
    color: #FAFBFC !important;
}

.blackTitle {
    padding-bottom: 20px;
    color: #000a12;
}

.blackText {
    color: #000a12;
}

.footerText {
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.icon {
    border-radius: 100% !important;
    height: 50px !important;
    width: 50px !important;
}