.profilePicture {
    max-width: 15%;
    border-radius: 50%;
}

.primaryColor {
    background-color: #f8b133 !important;
}

.secondaryColor {
    background-color: #202020 !important;
}

.whiteBackground {
    color: #1fa1b8 !important;
}

.space {
    margin-right: 25px;
}

html {
    scroll-behavior: smooth;
    background-image: url(public/image/7.jpg);
}

* {
    font-family: 'Product Sans';
}

.whiteTitle {
    padding-bottom: 20px;
    color: #FAFBFC;
}

.whiteText {
    color: #FAFBFC !important;
}

.blackTitle {
    padding-bottom: 20px;
    color: #000a12;
}

.blackText {
    color: #000a12;
}

.footerText {
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.backgroundImage {
    background-image: "public/image/background.png" !important;
}